*{
    box-sizing: border-box;
}
div{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("imges/food.jfif");
    background-repeat: no-repeat;background-size: 100%;

}
h1{
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
.heading{
    margin: 0%;
    padding: 2px;
    text-align: right;
    background-color: rgb(240, 57, 57);
    color: black;
}
section{
    border: 1px solid black; 
    margin: 10px;
}
.paragraph{
    background-color: rgb(168, 162, 162);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    border-top: 1px solid black;
    
}
/* desktop devices */
@media(min-width:992px){
    .desktop {
        float: left;
        width: 30%;
    }
}
/* tablet device */
@media(min-width:768px) and (max-width:991px){
    .tablet{
        float: left;
        width: 45%;
    }
    #tablet-third-row{
        width: 92%;  
    }
}

